body {
    margin: 10%;
    background-color: #2e312e;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideFromTop 1s forwards;
}

@keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.title {
    font-size: 13.5vw;
    font-family: 'Cormorant', serif;
    color: #d7d1cb;
}

.text {
    font-size: 1.8vw;
    font-family: 'Cormorant', serif;
    color: #d7d1cb;

}

a {
	color: #d8d1cb;
  	display: inline-block;
}

a:hover {
	font-style: italic;
    text-decoration: none;
}

#nav{
    font-family: 'Cormorant', serif;
    font-size: 1.5vw;
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    position: fixed;
    top: 0;
    /*background-color: #0d97ac;*/
}

li a, .dropbtn{
display: block;
color: #d8d1cb;
text-align: center;
padding: 10px;
text-decoration: none;
}