@font-face{
  font-family: fipps;
  src: url(fipps.otf);
}

:root{
  --pixel-size: 0.7;
  --pixel-size-spaceship: 1;
}

body{
  background: #2e312e;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.Centerbox{
  width: calc(900 * var(--pixel-size));
  height: 220px;
  margin: auto calc(50% - 450px * var(--pixel-size));
}

.Alien1{
  width: calc(150px * var(--pixel-size));
  height: calc(220px * var(--pixel-size));
  overflow: hidden;
  float: left;
  position: relative;
  margin: 12em auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Alien1_spritesheet{
  animation: moveSpriteSheet 1s steps(2) infinite;
  width: calc(585px * var(--pixel-size));
  position: absolute;
}

@keyframes moveSpriteSheet{
  from{
    transform: translate3d(0px, 0, 0);
  }
  to{
    transform: translate3d(-50%, 0, 0);
  }
}


/*.title{
  color: limegreen;
  font-size: 400%;
  font-family: fipps;
  position: absolute;
  margin: 1.8em calc(50% - 285px);
}

#right{
  text-decoration: none;
  color: limegreen;
}*/


#spaceship{
  float: left;
  position: relative;
  margin: 10em calc(50% - 40px * var(--pixel-size-spaceship));
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.spaceship_spritesheet{
  position: relative;
}


/* Scroll to see projects title */
.title{
  color: 	#d7d1cb;
  display: inline-block;
  position: relative;
  color: 	#82837d;
  font-size: 150%;
  font-family: fipps;
  margin: 2em calc(50% - 285px) -3em;
}



/* for horizontal scroll */
.slide{
  width: 100vw;
  height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one{
  background-color: #2e312e;
}

.two{
  background-color: #2e312e;
}

.three{
  background-color: #2e312e;
}


.outer-wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  display: none;
}

.outside-margin {
  margin: 40px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 { grid-area: 2 / 1 / 5 / 2; }
.div2 { grid-area: 2 / 2 / 5 / 3; }
.div3 { grid-area: 2 / 3 / 5 / 4; }
.div4 { grid-area: 5 / 1 / 8 / 2; }
.div5 { grid-area: 5 / 2 / 8 / 3; }
.div6 { grid-area: 5 / 3 / 8 / 4; }

.card {
  background-color: #434642;
  padding: 20px;
}

.card-title {
  font-size: 4.5vw;
  font-family: 'Cormorant', serif;
  color: #d7d1cb;
}

.card-content {
  font-family: 'Cormorant', serif;
  color: #d7d1cb;
}

.gg-arrow-long-right {
  color: #d7d1cb;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
}
.gg-arrow-long-right::after {
  color: #d7d1cb;
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px
}
